@use '../../../../scss/abstracts/mixins' as mixin;

.sectionOption {
    height: max-content;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 104px;
    left: 104px;
    z-index: 3;
}

.tag__icon {
    fill: var(--white);
    stroke: var(--white);
}

.wrappre__tag {
    width: max-content;
    display: flex;
    position: absolute;
}

.favorite {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: var(--purple-0);
    transform: translateY(26px);
    padding-top: 10px;
}

.borderRadio {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@include mixin.table {
    .sectionOption {
        align-items: flex-end;
        justify-content: center;
        position: fixed;
        bottom: 0;
        top: auto;
        right: 0;
        left: 0;
    }

    .favorite {
        transform: translateY(-85%);
        padding-top: 0;
        padding-bottom: 10px;
    }

    .borderRadio {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        // resert
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}