@use '../../../../scss/abstracts/mixins' as mixin;

.sectionFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.875rem;
    color: var(--white);
}

.sectionFilter__title {
 margin-top: 0px;
 margin-bottom: 1.9375rem;
 transform: scale(1.1);
}

.sectionFilter__p{
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 2.25rem;
}

.containerBtns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 693px;
    flex-wrap: wrap;
    // gap: 0 117px;
}

@include mixin.table {
    .sectionFilter {
        padding-top: 1.875rem;
    }
    .sectionFilter__title {
        margin-bottom: 0.875rem;
        transform: scale(0.9);
    }
    .sectionFilter__p{
        font-size: 18px;
        margin-bottom: 1.5rem;
    }

    .containerBtns {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 9.48px;
    }
}

@include mixin.movil {
    .sectionFilter__title {
        transform: scale(0.7);
    }
}