@use '../../scss/abstracts/mixins' as mixin;

.btn {
    width: 288px;
    height: 67px;
    color: var(--white);
    background-color: var(---black-0);
    border: 3px solid var(--purple-0);
}

.btn:hover {
    background-color: var(--purple-1);
}

.btn:active {
    background-color: var(--purple-0);
}

.btn_disable {
    background-color: var(--gray-1);
    border: 3px solid var(--white-1);
    cursor: pointer;
}

@include mixin.table {
    .btn {
        width: 100%;
    }
}